#logo{
color: black;
}

#menulink a{  
    color: black;
}

#login ul li a{
  color: black;
}

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
}



#logincontent{
  background-color: yellow;
  border: 5px solid black;
}

#loginsvg{
  stroke: black;
  stroke-width: 7;
}

